.hero {
  background-image: url(../images/assets/Kiko-Hero.png);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: cover;
  width: 57%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .hero {
    width: 262px;
    height: 900px;
    max-height: 100%;
  }
}
